
  .navbar {
    padding: 10px;
    background-color: #343a40;
    color: white;
  }

  .card {
    padding: 10px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #carouselExampleCaptions {
    margin-bottom: 50px;
  }

  form {
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .carousel-control-color {
    color: white;
  }
  
  .carousel-control-width {
    width: 15%;
  }
  
  .carousel-control-opacity {
    opacity: 0.5;
  }
  
  .carousel-control-hover-opacity {
    opacity: 0.9;
  }
  
  .carousel-control-transition {
    transition: opacity 0.15s ease;
  }
  
  .carousel-indicator-width {
    width: 30px;
  }
  
  .carousel-indicator-height {
    height: 3px;
  }
  
  .carousel-indicator-hit-area-height {
    height: 10px;
  }
  
  .carousel-indicator-spacer {
    margin-right: 3px;
  }
  
  .carousel-indicator-opacity {
    opacity: 0.5;
  }
  
  .carousel-indicator-active-bg {
    background-color: white;
  }
  
  .carousel-indicator-active-opacity {
    opacity: 1;
  }
  
  .carousel-indicator-transition {
    transition: opacity 0.6s ease;
  }
  
  .carousel-caption-width {
    width: 70%;
  }
  
  .carousel-caption-color {
    color: white;
  }
  
  .carousel-caption-padding-y {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  
  .carousel-caption-spacer {
    margin-bottom: 1.25rem;
  }
  
  .carousel-control-icon-width {
    width: 2rem;
  }
  
  .carousel-control-prev-icon-bg {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#ffffff'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>");
  }
  
  .carousel-control-next-icon-bg {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#ffffff'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>");
  }
  
  .carousel-transition-duration {
    transition-duration: 0.6s;
  }
  
  .carousel-transition {
    transition: transform 0.6s ease-in-out;
  }
  #carouselExampleCaptions{
    margin-bottom: 50px;
  }
  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .alert{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }
  .ratio-16x9-container {
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer {
    background-color: #f8f8f8;
    padding: 40px 0;
  }
  
  .footer h3 {
    color: #333;
  }
  
  .footer p {
    color: #777;
  }
  
  .footer .social-media {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  .footer .social-media li {
    margin: 0 10px;
  }
  
  .footer .social-media li a {
    color: #777;
    font-size: 20px;
  }
  
  .footer .social-media li a:hover {
    color: #333;
  }
  
  .footer p.text-center {
    margin-top: 20px;
    color: #777;
  }